

:root {
    --primary-color: #B9623F;
    --offwhite: #E7E7E7;
}

body {
    font-family: 'EB Garamond', serif;
font-family: 'Noto Serif', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
    
    margin:0px;
}

hr {
    margin: 2rem 0rem;
}

/** container section**/
.container {
    padding: 0rem 1rem;
}

.container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;

}

/**links**/
.links {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: white;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.secondry-link {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    margin: auto;
}

/**lists**/
.non-bullet-list { 
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 0.5rem 1rem;
}

/**navigation**/
.navigation {
    background-color: var(--primary-color);
    color: white;
    list-style: none;
    text-align: right;
    padding: 0.5rem;
    border-bottom-left-radius: 1rem;
}

.left{
    text-align: left;
    font-weight:medium;
   
}

.list-inline-active-line {
    font-weight: bold;
}

.header-image {
    max-width: 350px;
    margin: auto;
    display: block;
    text-align: center;
    padding: 1px;
}

.header-font {
    color: var(--primary-color);
    font-weight: bolder;

}

.section1 {
    text-align: center;
    padding: 1.5rem;
    max-width: 600px;
    margin: auto;
}

.section2 {
    /* text-align: center; */
    padding: 1.5rem;
    /* max-width: 600px; */
    margin: auto;
}

.section2 p{
    max-width: 550px;
    margin:auto;
}
.section2 h1{
    text-align: center;
}

.ow {
    background-color: var(--offwhite);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.footer {
    background-color: var(--primary-color);
    text-align:center;
    display: white;
    padding: 0.5rem;
    border-top-right-radius: 1rem;
    margin: 0rem;
}
#left{
    color: white;
    

}
#sec{
    text-align: center;

    max-width: 100px;
    margin: auto;
    display: block;
}
p{
    text-align: center;
}
.list-inline:hover{

  background-color: #632C0F;
  transition: 2s;

}
